nav {
    position:fixed;
    display: flex;
    justify-content: space-between;
}

* {
    padding: 0;
    margin: 0;
}

.navigation {
    text-decoration: none;
    color: white;
    left: 35%;
    margin-top: 20px;
    word-spacing: 40px;
    
}

.content {
    display: flex;
}

.box {
    flex: 1 1 100px;
}

.full p {
    position: absolute;
    padding: 50px;
    margin: 50px;
}

.wrapper {
    display: flex;
}



footer {
    text-align: center;
}

.content .box .imgBox img {
  position: relative;
  max-width: 90%;
}
